/* Larger screen styles (Desktop) */
@media (min-width: 768px) {
    header {
        justify-content: flex-start;
    }

    #menuButton {
        display: none;
        /* hide hamburger on large screens */
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        background: #006699;
    }

    nav a {
        border: none;
        padding: 1rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }

    section {
        margin-bottom: 1.5rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 1rem 2rem;
    }
}