@media (min-width: 768px) {

    /* Navigation horizontale */
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    #menuButton {
        display: none;
    }

    nav a {
        border-bottom: none;
        border-right: 1px solid #004466;
    }

    nav a:last-child {
        border-right: none;
    }

    .top-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .course-container {
        grid-template-columns: repeat(3, 1fr);
    }
}